<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss4Shot_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1655,1635},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss4Shot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{443,1685},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrowLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,40}</string>
                <key>spriteSourceSize</key>
                <string>{170,40}</string>
                <key>textureRect</key>
                <string>{{1957,1624},{170,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrowRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,40}</string>
                <key>spriteSourceSize</key>
                <string>{170,40}</string>
                <key>textureRect</key>
                <string>{{811,1869},{170,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>audioButton0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1923,1},{190,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>audioButton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1923,193},{190,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bossBullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{2017,1878},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{2017,1905},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulletPackage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{617,1987},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSkin0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1957,1449},{73,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charSkin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1971,1524},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeBtn0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{369,1937},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{431,1987},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helpButton0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1923,385},{190,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>helpButton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1923,577},{190,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hpBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,15}</string>
                <key>spriteSourceSize</key>
                <string>{100,15}</string>
                <key>textureRect</key>
                <string>{{1889,1607},{100,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hpBarContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,15}</string>
                <key>spriteSourceSize</key>
                <string>{100,15}</string>
                <key>textureRect</key>
                <string>{{2023,1930},{100,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>infBulletPackage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{651,1987},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>infoBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{850,550}</string>
                <key>spriteSourceSize</key>
                <string>{850,550}</string>
                <key>textureRect</key>
                <string>{{853,1083},{850,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>infoButton0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{493,1987},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>infoButton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{555,1987},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapSlide0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,250}</string>
                <key>spriteSourceSize</key>
                <string>{440,250}</string>
                <key>textureRect</key>
                <string>{{1705,1083},{440,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mapSlide1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,250}</string>
                <key>spriteSourceSize</key>
                <string>{440,250}</string>
                <key>textureRect</key>
                <string>{{1,1685},{440,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicButton0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1923,769},{190,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nextSlideButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1957,1878},{46,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playButton0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,106}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1705,1525},{182,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playButton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,106}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1655,1937},{182,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>previousSlideButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{369,1999},{46,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1889,1525},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1957,1796},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1923,961},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1957,1367},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restartButton0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,106}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1839,1937},{182,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restartButton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,106}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{745,1685},{182,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settingBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{850,600}</string>
                <key>spriteSourceSize</key>
                <string>{850,600}</string>
                <key>textureRect</key>
                <string>{{1,1083},{850,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settingButton0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,106}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1,1937},{182,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settingButton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,106}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{185,1937},{182,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settingLayout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,375}</string>
                <key>spriteSourceSize</key>
                <string>{800,375}</string>
                <key>textureRect</key>
                <string>{{853,1635},{800,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settingTab00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{745,1869},{160,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settingTab01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{1957,1043},{160,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settingTab10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{1957,1205},{160,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameComponents-0.pvr.ccz</string>
            <key>size</key>
            <string>{2047,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:296c596b8e6b913e0c427ada83badcae:6258ce767d14800a7dbc7ba8b8daec09:c588a88d6eb38b5f5b59ea750d6f9b4a$</string>
            <key>textureFileName</key>
            <string>gameComponents-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
