<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss3Shot_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{955,1737},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss4Shot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1427,1485},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss6Shot_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{274,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1729,1525},{274,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WindMill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,540}</string>
                <key>spriteSourceSize</key>
                <string>{540,540}</string>
                <key>textureRect</key>
                <string>{{1,1083},{540,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{443,1737},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{699,1737},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulletBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{543,1083},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulletBarContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{945,1083},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSkin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1923,880},{73,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSkin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1923,957},{73,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSkin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1903,1827},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSkin5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1923,649},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSkin6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1923,726},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSkin7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1923,803},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>controllerPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1347,1083},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapSlide2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,250}</string>
                <key>spriteSourceSize</key>
                <string>{440,250}</string>
                <key>textureRect</key>
                <string>{{1,1625},{440,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapSlide3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,250}</string>
                <key>spriteSourceSize</key>
                <string>{440,250}</string>
                <key>textureRect</key>
                <string>{{543,1485},{440,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicButton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1207,1737},{190,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextButton0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1207,1857},{190,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextButton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1399,1787},{190,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>privacypolicyButton0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1591,1787},{190,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>privacypolicyButton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1711,1827},{190,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{443,1625},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settingTab11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{1923,1},{160,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settingTab20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{1399,1907},{160,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settingTab21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{1923,163},{160,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settingTab30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{1923,325},{160,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settingTab31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{1923,487},{160,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slidePanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,250}</string>
                <key>spriteSourceSize</key>
                <string>{440,250}</string>
                <key>textureRect</key>
                <string>{{985,1485},{440,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slidePanelMasked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,250}</string>
                <key>spriteSourceSize</key>
                <string>{440,250}</string>
                <key>textureRect</key>
                <string>{{1749,1083},{440,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statsButton0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,106}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1,1877},{182,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statsButton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,106}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{185,1877},{182,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameComponents-1.pvr.ccz</string>
            <key>size</key>
            <string>{2004,1992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:296c596b8e6b913e0c427ada83badcae:6258ce767d14800a7dbc7ba8b8daec09:c588a88d6eb38b5f5b59ea750d6f9b4a$</string>
            <key>textureFileName</key>
            <string>gameComponents-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
